<!--For Views/Adding new Product-->

<h1 class="mt-5 mb-4" >New Product</h3>
  
  <% if (errors && errors.length > 0) { %>
    <div class="alert alert-danger" role="alert">
        <% errors.forEach(error => { %>
            <p><%= error.msg %></p>
        <% }); %>
    </div>
<% } %>

<form class="row g-3"  action="/" method="post" enctype="multipart/form-data">
    <div class="col-md-12">
      <label for="name" class="form-label">Product Name</label>
      <input type="text" class="form-control" id="name" name="name" >
    </div>
    <div class="col-md-12 row ">
      <label for="desc" class="form-label">Product Description</label>
      <textarea type="text" class="form-control"   id="desc" name="desc" ></textarea>
    </div>
    <div class="col-md-12">
        <label for="price" class="form-label">Price</label>
        <input type="number" class="form-control" id="price"  name="price" >
      </div>
   
    <div class="col-md-12">
      <label for="imageURL" class="form-label">Image</label>
      <input type="file" class="form-control" id="imageURL" name="imageURL" >
    </div>    
    <div class="col-12">
      <button type="submit" class="btn btn-primary">Add Product</button>
    </div>
  </form>